<div class="board" id="board">
    <div class="cell" id="00" onClick="updateGrid('00')"></div>
    <div class="cell" id="01" onClick="updateGrid('01')"></div>
    <div class="cell" id="02" onClick="updateGrid('02')"></div>
    <div class="cell" id="10" onClick="updateGrid('10')"></div>
    <div class="cell" id="11" onClick="updateGrid('11')"></div>
    <div class="cell" id="12" onClick="updateGrid('12')"></div>
    <div class="cell" id="20" onClick="updateGrid('20')"></div>
    <div class="cell" id="21" onClick="updateGrid('21')"></div>
    <div class="cell" id="22" onClick="updateGrid('22')"></div>
</div>